@import '../../config';

.header {
  align-items: center;
  border-bottom: 1px solid $light-gray;
  display: flex;
}

.link {
  cursor: pointer;
  color: #666;
  display: block;
  padding: 10px;
  text-decoration: none;

  &:hover {
    color: $bob-orange;
  }
}

.b {
  align-items: center;
  display: flex;
  padding: 10px;

  &:hover .bShape {
    fill: $bob-orange;
  }
}

.bShape {
  fill: #666;
  height: 32px;
}

.center {
  flex: 1;
}

.dropdown:hover .options {
  display: block;
}

.options {
  @include box-shadow;
  background: #fff;
  border-radius: $border-radius;
  display: none;
  position: absolute;
  right: 10px;
  z-index: 2;
}

.loading {
  margin-right: 10px;
}
