@import '../../config';

.header {
  @include box-shadow;
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 40px;
}

.logo {
  align-items: center;
  display: flex;
  text-decoration: none;
}

.logoIcon {
  margin-right: 10px;
  width: 24px;
}

.logoText {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

.center {
  flex: 1;
}

.link {
  cursor: pointer;
  line-height: 40px;
  padding: 0 10px;

  &:hover {
    background: $orange;

    .logoIcon {
      fill: #fff;
    }
  }
}

.dropdown:hover .options {
  display: block;
}

.options {
  background: #333;
  // display: none;
  position: absolute;
  right: 0;
}
