@import '../../config';

.header {
  @include box-shadow;
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 40px;
}

.link {
  @include ellipsis;
  cursor: pointer;
  color: #fff;
  line-height: 40px;
  display: block;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background: $orange;

    .bobShape {
      fill: #fff;
    }
  }
}

.bob {
  align-items: center;
  display: flex;
  height: 40px;
}

.bobShape {
  height: 30px;
}

.center {
  flex: 1;
}

.dropdown:hover .options {
  display: block;
}

.options {
  @include box-shadow;
  background: #fff;
  border-bottom-left-radius: $border-radius;
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;

  .link {
    color: $orange;

    &:hover {
      color: #fff;
    }
  }
}

.loading {
  margin-right: 10px;
}
