@import '../../config';

.root {
  display: flex;
  border-radius: $border-radius;
  background: $red;
  color: #fff;
  font-family: Monaco, monospace;
  font-size: 12px;
}

.left {
  padding: 5px 8px;
}

.right {
  flex: 1;
  overflow: hidden;
  padding: 5px 5px 5px 0;
}
