@import '../../config';

.root {
  border-radius: $border-radius;
  border: 2px solid #fff;
  box-shadow: $box-shadow;
  color: #fff;
  display: flex;
}

.type-error {
  background: $red;
}

.left {
  padding: 5px 8px;
}

.right {
  flex: 1;
  overflow: hidden;
  padding: 5px 5px 5px 0;
}
