@import '../../config';

.root {
  border-left: 5px solid;
  display: flex;
}

.left {
  padding: 10px;
}

.right {
  flex: 1;
  padding: 10px 10px 10px 0;
}

.link {
  color: #666;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: $bob-orange;
  }
}

.tag {
  font-family: Monaco, monospace;
  font-size: 10px;
}

.error {
  margin-top: 5px;
}
