@import '../../config';

// .root {
//   padding: 20px;
// }

.code {
  background: #393f4c;
  color: #cbd0d7;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
  white-space: nowrap;
}

.logLine {
  font-family: Courier, monospace;
  font-size: 12px;
  line-height: 14px;
}
