$blue: #4579fb;
$bob-orange: #f60;
$green: #88d86b;
$light-gray: #ccc;
$orange: #e79322;
$pink: #dc3055;
$purple: #5856d2;
$red: #dc3d34;
$teal-blue: #85c7f8;
$yellow: #f2cb30;

$border-radius: 3px;

$fa-font-path: '/fonts';

@mixin box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
