@import 'config';
@import 'node_modules/font-awesome/scss/font-awesome';

body {
  background: #fff;
  color: #666;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-size-adjust: 100%;
  margin: 0;
  word-wrap: break-word;
}
