@import 'config';
@import 'node_modules/font-awesome/scss/font-awesome';

body {
  background: #fff;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  margin: 0;
}
