<%
  const manifest = _.mapObject(
    JSON.parse(await include('dist/manifest.json')),
    path => path.slice(4)
  );
%><!doctype html>

<html>
  <head>
    <meta charset='utf-8'>
    <meta
      name='viewport'
      content='
        initial-scale=1.0,
        maximum-scale=1.0,
        minimum-scale=1.0,
        shrink-to-fit=no,
        user-scalable=no,
        width=device-width'
    >
    <title>Bob</title>
  </head>

  <body>
    <style><%= await include('dist/index.css') %></style>

    <div id='root'>
      <div id='initialLoad'>Loading...</div>
    </div>

    <script>
      window.env = <%= JSON.stringify(_.pick(process.env, 'WATCH')) %>;
      window.COGS_MANIFEST = <%= JSON.stringify(manifest) %>;
    </script>

    <script src='<%- manifest['src/client/index.js'] %>' async></script>
  </body>
</html>
